/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0a6cad;
    border-radius: 40px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #f00303;
  } */

  body{
    background: rgb(17,64,113) !important;
background: linear-gradient(0deg, rgba(17,64,113,0.804359243697479) 0%, rgba(52,141,230,0.5410539215686274) 100%) !important;
font-family: 'Glory', sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');